<ModConfiguration>
  <Id>steveman0.FreightCarts</Id>
  <Name>steveman0's Freight Carts</Name>
  <Version>9</Version>
<Description>Freight Carts are intelligent minecarts designed to distribute goods between mass storage systems.  Unlike regular minecarts, freight carts only collect items that are required by other stations.  The amount of goods to maintain at any particular station is configurable to your needs.

Freight cart stations link up with an adjacent mass storage system.  The station's goods for offering and to request from others is configured by opening the machine's interface with E.  From there goods can be set by dragging an example item from your inventory or by right clicking an entry and searching for it by name.  The Offering and Requesting setpoints can then be configured.

Freight carts are similar to vanilla minecarts.  They have the same stats and use the same items however to configure them as freight carts they must be deployed from a Freight Cart Depot.  Due to vanilla code, vanilla minecarts deployed from a Minecart Depot cannot travel over a freight cart station.

Starting with Version 5, the mod includes Track Junctions.  Junctions enable the construction of vast track networks.  No longer are carts stuck on the one linear path you provide it.  When a cart gets to a junction it decides where it needs to go and automatically travels to the destination by pathing through your track system.  Now you can lay an intertwined web of track around your fortress sending items all across to numerous destinations.

New to Version 8, freight cart stations can also connect to storage hoppers enabling loading basic resources without a complex storage system.  To go with this, I've added Ore Freighters - a new type of freight cart that can carry 10x the volume of a normal freight cart.  Unlike the smaller variety, Ore Freighters can only carry one type of ore (ore only) at a time.  Use them as an alternative to conventional transit methods for mining!

Modders, if you are interested in integrating freight into your mod check out the interface description on the aptly named discussion thread.  You can contact me there, in the comments, forums, or Discord if you have any questions.

Credits:
Many thanks to PrairForMercy for the custom icons!</Description>
<ChangeNode>NRE catch for choosedestination
Removed old debug</ChangeNode>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>